logs/
Synthetic_NeRF.zip
Synthetic_NeRF/
360_v2/
__pycache__
vren*/
ckpts/
results/
imgui.ini
.DS_Store
*.pyc

data/images
data/sparse
data/colmap_sparse
data/colmap.db
data/colmap.db-shm
data/colmap.db-wal
data/*.MOV
data/*.mp4
data/colmap_text
data/transforms.json
lightning_logs
*.zip
external